.chat-item {
	color: $color-text;

    .num-members {
        float: right;
    }

    &:hover {
        background-color: $primary-color-2;
        color: $primary-color-4;
        cursor: pointer;
    }
}
