.label-subtitle {
	color: $color-text;
	text-align: center;
}

.date-label{
	font-size: $small;
	bottom: 0;
	position: absolute;
	right: 15px;
}

span {
	white-space: normal;
	display: inline-block;
	width: 100%;
}
