<ion-view title="Chat">
    <ion-content class="chat has-header">
        <div class="label-subtitle">
			Room {{chatName}}.
		</div>
        <ul class="list">
            <li class="item message-item" ng-repeat="itemView in chatter.allMessages">
				<div class="item item-avatar">
			    	<img src="{{itemView.user.picture}}" />
					<span>{{itemView.message.text}}</span>
					<label class="sent-by">Sent by {{itemView.user.given_name}}</label>
	                <label class="label-date">{{itemView.message.sentAt | date: "MMM, dd 'at' HH:MM"}}</label>
			    </div>
        	</li>
        </ul>
		<div class="item item-input-inset">
	  		<label class="item-input-wrapper">
				<input class="mousetrap" id="input" type="text" ng-model="chatter.message" on-return="logger.login()" placeholder="Type your message">
  			</label>
  			<button class="button button-small" ng-click="chatter.sendMessage()">
				Send
			</button>
		</div>
    </ion-content>
</ion-view>
