<ion-view title="Chats">
    <ion-content class="chat-list">
        <ul class="list">
            <li class="item chat-item" ng-repeat="chat in picker.allChats" ng-click="picker.goToChat(chat._id)">
                <label>{{chat.name}}</label>
                <label class="num-members">{{chat.numMembers}} users.</label>
        	</li>
        </ul>
		<div class="item item-input-inset">
			<label class="item-input-wrapper">
				<input ng-model="picker.chatName" on-return="logger.login()" type="text" placeholder="chat name" name="new-chat">
			</label>
			<button class="button button-small" ng-click="picker.newChat(picker.chatName);picker.chatName = null">
				Create new
			</button>
		</div>
    </ion-content>
</ion-view>
