<ion-view title="Login">
	<ion-nav-buttons side="right">
		<button class="button flag" ng-click="changeLanguage('pt-BR')">
			<img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/256/Flag_of_Brazil.png"/>
		</button>
		<button class="button flag" ng-click="changeLanguage('en-US')">
			<img src="https://cdn1.iconfinder.com/data/icons/flags-of-the-world-2/128/united-states-circle-128.png"/>
		</button>
	</ion-nav-buttons>
    <ion-content class="_login">
        <div class="button-container">
            <button class="button" ng-click="logger.login()">
				{{'LOGIN_BUTTON_LABEL' | translate}}
            </button>
        </div>
    </ion-content>
</ion-view>
